<!DOCTYPE html>
<html lang="fr" class="pos-grid">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formation HTML5 - ENI Service</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower" > 
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="print.css" media="print" />
    <script src="https://cdn.jsdelivr.net/npm/vue" defer ></script>
    <script type="module" src="app/app-vue.js" defer ></script>
</head>
<body class="menu-closed">
    <nav>
        <button id="btn-menu-close"><i class="fas fa-angle-double-left"></i></button>
        <h3>Menu</h3>
        <a href="#fable"><i class="fas fa-home"></i> <span>Cigale et Fourmi</span></a>
        <a href="#fable"><i class="fas fa-image"></i> <span>Illustration</span></a>
        <a href="#fable"><i class="fas fa-download"></i> <span>Téléchargement</span></a>
        <a href="#fable"><i class="fas fa-link"></i> <span>Lien</span></a>
        <a href="#fable"><i class="fas fa-video"></i> <span>Média</span></a>
        <a href="#fable"><i class="fas fa-table"></i> <span>Population</span></a>		
        <a href="#fable"><i class="fas fa-address-card"></i> <span>Inscription</span></a>		
        <a href="#fable"><i class="fas fa-cube"></i> <span>Cube</span></a>
        <a href="#carte-agence"><i class="fas fa-map"></i> <span>Carte</span></a>
    </nav>
    <header>
        <h1 title="Formation&#xA;HTML5 &amp; CSS3">Ma Banque</h1>
        <nav>
            <a href="#accueil">Accueil</a>
            <a href="#liste-clients">Clients</a>
            <a href="#ajouter-client">Nouveau</a>
            <a href="#detail-compte">Détails</a>
            <a href="#form-operation">Opération</a>
            <a href="index.html">ES6+</a>
        </nav>
        <button>Connexion</button>
    </header>
    <main>
        <section id="fable" class="fable">
            <h2 id="fable">La Cigale et la Fourmi</h2>
            <blockquote>
                La Cigale, ayant chanté tout l'été, se trouva fort dépourvue quand la bise fut venue: pas un seul petit morceau
                de mouche ou de vermisseau. Elle <img src="img/cigale-fourmi.jpg" width="120" alt="Illustration de la fable La Cigale et la Fourmi" />alla crier famine chez la Fourmi sa voisine, la priant de lui prêter quelque grain pour subsister
                jusqu'à la saison nouvelle. <q>Je vous paierai, lui dit-elle, avant l'Oût, foi d'animal, intérêt et principal.</q>
                La Fourmi n'est pas prêteuse&nbsp;: C'est là son moindre défaut. Que faisiez-vous au temps chaud&nbsp;? Dit-elle à cette emprunteuse.
                <br/>-&nbsp;Nuit et jour à tout venant, je chantais, ne vous déplaise.
                <br/>-&nbsp;Vous chantiez&nbsp;? j'en suis fort aise. Et bien, dansez maintenant.
            </blockquote>
            <p>
                <cite>Jean de La Fontaine, Fables de La Fontaine, 1668.</cite> <ins>2,50 &euro;</ins> (<strong>-50%</strong>, <del>5,00 €</del>)
            </p>

        
            <h2 id="illustration">Illustration</h2>
            <figure>
                <img src="img/cigale-fourmi.jpg" width="300" alt="Illustration de la fable La Cigale et la Fourmi" />
                <figcaption>Illustration de la fable La Cigale et la Fourmi</figcaption>
            </figure>
        
            <h2 id="telechargement">Téléchargement</h2>
            <ul>
                <li><a href="doc/fable.pdf" download>Format PDF</a></li>
                <li><a href="doc/fable.docx" download>Format Word</a></li>
                <li><a href="doc/fable.pdf" download>Format PDF</a></li>
                <li><a href="doc/fable.docx" download>Format Word</a></li>
                <li><a href="doc/fable.pdf" download>Format PDF</a></li>
                <li><a href="doc/fable.docx" download>Format Word</a></li>
            </ul>
            
            <h2 id="lien">Lien</h2>
            <a href="http://fr.wikipedia.org/wiki/La_Cigale_et_la_Fourmi" target="_blank" >Wikipedia</a>
        </section>
        <section id="accueil" class="eni-article">
            <h2>Définition</h2>
            <p>
                <img src="img/bank1.jpg" height="200" alt="Devanture d'une banque au pied d'un imeuble" />
                Le dictionnaire Larousse définit la banque comme un <q>Établissement financier qui, 
                recevant des fonds du public, les emploie pour effectuer des opérations de crédit 
                et des opérations financières</q><sup>[1]</sup>. Au sens du droit positif français, 
                essentiellement d'origine européenne, une <strong>banque</strong> est l'une des 
                catégories légales d'établissement de crédit (article L. 511-1 du Code monétaire et 
                financier).
            </p>
            <p>Une <strong>banque</strong> est donc, à la fois, une entreprise qui&nbsp;:</p>
            <ul>
                <li>produit des services bancaires&nbsp;: crédits, réception des dépôts du public, paiements&nbsp;;</li>
                <li>en fait le commerce ou la distribution, soit directement, soit par des relations avec des intermédiaires bancaires&nbsp;;</li>
                <li>fait commerce d'autres services accessoires ou connexes, tels que des services d'investissement, de l'assurance, ou tout autre 
                    prestation de service.</li>
            </ul>
            <p>
                Source&nbsp;: 
                <a href="https://fr.wikipedia.org/wiki/Banque" 
                title="Banque &mdash; Wikipédia" target="_blank" >Banque &mdash; Wikipédia</a>
            </p>
        </section>
        <section id="liste-clients">
            <h2>{{titreCmp}}</h2>
            <p>{{effectif}} clients</p>
            <button id="btnClients" v-on:click="actualiser">Actualiser</button>
            <eni-client v-if="selectedClient" v-bind:client="selectedClient"></eni-client>
            <label>Rechercher <input v-model="recherche" /> <small>{{recherche}}</small></label>
            <table class="eni-table">
                <thead>
                    <tr><th>Nom</th><th>Prénom</th></tr>
                </thead>
                <tbody v-on:click="selectionner">
                    <tr v-if="rechClients.length == 0"><td colspan="2">aucun client</td></tr>
                    <tr v-for="client in rechClients" v-bind:data-id="client.id">
                        <td>{{client.nom}}</td><td>{{client.prenom}}</td>
                    </tr>
                </tbody>
            </table>
            <eni-client v-bind:client="{nom:'Troadec',prenom:'Lou-Ann'}"></eni-client>
        </section>
        <section id="ajouter-client">
            <h2>Ajouter Client</h2>
            <p>Les champs marqués * sont obligatoires.</p>
            <form id="form-client" class="eni-form grid"  
            method="POST" action="http://wildfly.westeurope.cloudapp.azure.com/clients/post" enctype="application/x-www-form-urlencoded">
                <label for="ac-nom">Nom*</label>
                <input id="ac-nom" name="nom" required value="Leblanc" />
                <label for="ac-prenom">Prénom</label>
                <input id="ac-prenom" name="prenom" />
                <label for="ac-adresse">Adresse</label>
                <textarea id="ac-adresse" name="adresse" rows="3">10 rue des Sports</textarea>
                <label for="ac-email">E-mail*</label>
                <input id="ac-email" name="email" type="email" />
                <label for="ac-email-verif">Confirmation E-mail</label>
                <input id="ac-email-verif" name="email-verif" type="email" />
                <label for="ac-tel">Téléphone</label>
                <input id="ac-tel" name="tel" type="tel"
                    pattern="(\+33|0)[1-9]([\.\s]?[0-9]{2}){4}" />
                <div class="form-control">
                    <button type="submit">Ajouter</button>
                    <button type="reset">Effacer</button>
                </div>
            </form>
        </section>
        <section id="detail-compte">
            <h2>Compte n°12345678</h2>
            <p>Dernières opérations :</p>
            <div class="scroll-hor">
                <table class="eni-table" >
                    <thead>
                        <tr><th>Date</th><th>Libellé</th><th>Montant</th><th>Type</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>2011-04-01</td><td>Salaire Renault</td><td>1300.00 €</td><td>Credit</td></tr>
                        <tr><td>2011-04-02</td><td>Impôt.gouv</td><td>54.00 €</td><td>Debit</td></tr>
                        <tr><td>2011-04-03</td><td>Engie</td><td>78.00 €</td><td>Debit</td></tr>
                        <tr><td>2011-04-04</td><td>E.Leclerc</td><td>65.00 €</td><td>Debit</td></tr>
                        <tr class="selected"><td>2011-04-05</td><td>CPAM</td><td>22.00 €</td><td>Credit</td></tr>
                        <tr><td>2011-04-06</td><td>TAN Avril</td><td>48.00 €</td><td>Debit</td></tr>
                        <tr><td>2012-06-13</td><td>Free Mobile</td><td>15.99 €</td><td>Debit</td></tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section id="form-operation">
                <h2>Nouvelle opération</h2>
                <form method="POST" class="eni-form inline" action="#"><!-- formulaire html -->
                    <div>
                        <label for="date">Date</label>
                        <input type="date" id="date" name="date" 
                        min="2018-10-01" max="2018-12-31"
                        value="2018-10-24" />
                </div>
                <div>
                    <label for="libelle">Libellé *</label>
                    <input type="text" id="libelle" name="libelle" 
                        required
                        placeholder="Libellé de l'opération" /><br/>
                </div>
                <div>
                    <label for="montant">Montant</label>
                    <input type="number" id="montant" name="montant" 
                            min="0" step="0.01"
                            placeholder="0,00" /><br/>
                </div>
                <div>
                    <label for="type">Type</label>
                    <select id="type" name="type">
                        <option value="Debit" selected>Débit</option>
                        <option value="Credit">Crédit</option>
                    </select><br/>
                </div>
				<button id="btnEnregistrer" type="submit">Enregistrer</button>
				<button id="btnInitialiser" type="reset">Initialiser</button>
            </form>



        </section>
        <section id="carte-agence">
                <h2>Nous trouver...</h2>
                <div id="carte"></div>
        </section>
    </main>
    <footer>
        <p>&copy; ENI Service - octobre 2018</p>
    </footer>
</body>
</html>